#naslovZahtev{
    text-align: center;
    padding: 20px;
}

#dodavanjeZahteva{
    display: flex;
    justify-content: center;
    background-color: #C1673E;
    width: 550px;
    padding: 20px 0px;
    border-radius: 10px;
    margin: 10px auto;
    margin-bottom: 20px;
    border: 3px solid black;
}

#ubaciKnjigu{
    margin-left: 38px;
    margin-top: 10px;
}

.polje{
    padding-left: 40px;
    color: white;
    font-size: 18px;
}

td{
    border: 6px solid black;
}

.td2{
    border: 3px solid #C1673E;
}
